<!DOCTYPE html>
<html>
  <head>
    <title>Components</title>
  </head>
  <body>
    <input type="text" name="fetchComponent" id="fetchComponent" placeholder="Enter the Component Name">
    <button type="button" id="fetchButton">FETCH</button>

    <div id="subCategories">
      <div id="option">
        <h3>ww</h3>
        <p>ewe</p>
        <p>3</p>
        <button type="button" style="display: none;">+1 ADD</button>
      </div>
    </div>
  </body>
  <script src="/javascripts/fetchComponents.js"></script>
</html>
